<div class="row">
  <div class="span5 well">
    <%= form_tag '/hunt', method: :post do %>
      <fieldset>
        <legend> Level : <%= @question.level %></legend>
        <label><%= @question.title %></label>
        <input type="text" placeholder="Answer" name="answer">
        <input type="hidden" name="question_id" value=<%= @question.id %>>
        <img src=<%=@question.image%> class="img-polaroid"/>
        <br />
        <br />
        <button type="submit" class="btn">Submit</button>
      </fieldset>
    <% end %>
  </div>
</div>
